@model DMS.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<div class="container">
    <ul class="breadcrumb">
        <li><a href="#">@ViewBag.Title</a></li>
        <li><a href="#">Dashboard</a></li>
    </ul>
    <hr />
    <div class="panel">
        <div class="panel-body">
            <p class="text-success">@ViewBag.StatusMessage</p>
            
            <h4>Change your account settings</h4>
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
            {
            @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                    @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
            </dl>
        </div>

    </div>
</div>
