<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1 class="alert alert-danger">Error!!!</h1>
        <h2 class="alert alert-info">An error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>
