<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DMS.DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
  <add name="MainEntities" connectionString="metadata=res://*/DatabaseContext.MainModel.csdl|res://*/DatabaseContext.MainModel.ssdl|res://*/DatabaseContext.MainModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-581SBAJH\SQLEXPRESS;initial catalog=BIT4thSem;persist security info=True;user id=sa;password=sa1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/></connectionStrings>
  <applicationSettings>
    <DMS.DAL.Properties.Settings>
      <setting name="server" serializeAs="String">
        <value>Antsserver</value>
      </setting>
      <setting name="ExcelConnectionString" serializeAs="String">
        <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties="Excel 12.0;HDR=Yes;IMEX=1;Empty Text Mode=NullAsEmpty;Allow Formula=false;ReadOnly=0"</value>
      </setting>
      <setting name="UploadImageW" serializeAs="String">
        <value>680</value>
      </setting>
      <setting name="UploadImageH" serializeAs="String">
        <value>480</value>
      </setting>
      <setting name="GetExternalIPInfo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="db" serializeAs="String">
        <value>dms_kamana_card_live</value>
      </setting>
      <setting name="user" serializeAs="String">
        <value>dms_kamana_card_live</value>
      </setting>
      <setting name="pass" serializeAs="String">
        <value>dms_kamana_card_live</value>
      </setting>
      <setting name="ImageTypes" serializeAs="String">
        <value>.jpg,.bmp,.gif,.png,.jpeg</value>
      </setting>
    </DMS.DAL.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
